<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Add Product</h2>
                <form action="/admin/add-product" enctype="multipart/form-data" method="POST">
                    <label for="">Product Name</label><br>
                    <input type="text" placeholder="Product Name" name="Name" class="form-control" required>


                    <label for="">Product Description</label><br>
                    <input type="text" placeholder="Product Description" name="Description" class="form-control"
                        required>

                    <label for="">Product Price</label><br>
                    <input type="number" id="price" placeholder="Product Price" name="Price" class="form-control"
                        required>
                    <label for="">Product Category</label><br>
                    <select class="form-select" aria-label="Default select example" name="Category" required>
                        <option value="Smartphone">Smartphone</option>
                        <option value="Laptop">Laptop</option>
                    </select>

                    {{!-- <input type="text" placeholder="Product Category" name="Category" class="form-control"
                        required> --}}

                    <label for="">Product Image</label><br>

                    <img src="/product-images/{{product._id}}.jpg" id="imgView" class="pt-3 pb-3" alt=""
                        style="width: 100px; height:auto;">
                    <input type="file" class="form-control" name="Image" onchange="viewImage(event)" required><br>

                    <button id="submit" class="navButtonText btn" style="background-color: #fe4066;  color:white"
                        type="submit">Submit</button><br><br>
                    <Span id="message" style="color:green ; font-weight: bold; display: none;">Submit is successfull....</Span>


                </form>
            </div>

        </div>

    </div>
</section>

<script>
    setTimeout(() => {
        let message = document.getElementById('message')
        message.style.display = "block"

    }, 3000)

    setTimeout(() => {
        let message = document.getElementById('message')
        message.style.display = "none"

    }, 6000)




</script>


<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])

    }

    $("#price").blur(function () {
        var price = $("#price").val();
        var validatePrice = function (price) {
            return /^(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/.test(price);
        }
        alert(validatePrice(price)); // False
</script>